/cohesion/__pycache__
/cohesion/.pytest_cache
/cohesion/build
/cohesion/dist
/cohesion/*.egg-info
/cohesion/cohesion_calculator/__pycache__
/teastore/test_data/*.json
/teastore/cohesion_teastore.ipynb
/jaeger_api/auth/*
/jaeger_api/image/*
/jaeger_api/persistence/*
/jaeger_api/recommender/*
/jaeger_api/registry/*
/jaeger_api/webui/*
/jaeger_api/*.json
/grcp/auth/*
/grcp/image/*
/grcp/persistence/*
/grcp/recommender/*
/grcp/registry/*
/grcp/webui/*
/grcp/*.json
/grcp/*.json
/grcp/__pycache__
