/scom/__pycache__
/scom/.pytest_cache
/scom/build
/scom/dist
/scom/*.egg-info
/scom/cohesion_calculator/__pycache__
/teastore/test_data/*.json
/teastore/cohesion_teastore.ipynb
/results/auth/*
/results/image/*
/results/persistence/*
/results/recommender/*
/results/registry/*
/results/webui/*
/results/*.json